<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="{{ meta.charset }}" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ meta.description }}" />
    <link rel="shortcut icon" href="{{ staticBasePath }}favicon.png" type="image/png" />
    <link rel="stylesheet" href="/styles/index.css" media="screen" />
</head>
<body>
{{> header }}
<div class="hashTag">#{{ hashTag.textRu }}</div>
{{> adventures}}
</body>
</html>