<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="{{ meta.charset }}" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ meta.description }}" />
    <link rel="shortcut icon" href="{{ staticBasePath }}favicon.png" type="image/png" />
    <link rel="stylesheet" href="{{ staticBasePath }}bundles/common.css" media="screen" />
    <link rel="stylesheet" href="{{ staticBasePath }}bundles/hashTag.css" media="screen" />
</head>
<body>
{{> header }}
<h1 class="hash-tag">#{{ hashTag.textRu }}</h1>
{{> adventures}}
</body>
</html>
