<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="{{ meta.charset }}" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ meta.description }}" />
    <link rel="shortcut icon" href="{{ staticBasePath }}styles/favicon.png" type="image/png" />
    <link rel="stylesheet" href="{{ staticBasePath }}bundles/common.css" media="screen" />
    <link rel="stylesheet" href="{{ staticBasePath }}bundles/adventures.css" media="screen" />
    <script defer src="{{ staticBasePath }}scripts/index.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="prefetch" href="{{ staticBasePath }}styles/scene.css" as="style" />
</head>
<body>
    {{> header }}
    <section class="adventures"></section>
    <img class="load-animation" src="https://bit.ly/3aQELtX" alt="">
</body>
</html>
