<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="{{ meta.charset }}" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ meta.description }}" />
    <link rel="shortcut icon" href="{{ staticBasePath }}favicon.png" type="image/png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="{{ staticBasePath }}styles/index.css" media="screen" />
    <link rel="stylesheet" href="{{ staticBasePath }}styles/header.css" media="screen" />
    <link rel="stylesheet" href="{{ staticBasePath }}styles/scene.css" media="screen" />
</head>
<body>
{{> header }}
<section class="content">
    {{#if scene.imageName}}
        <div class="text-wrapper text-wrapper_with-image">
            <div class="text-wrapper__text text-wrapper__text_{{ scene.textPosition }}">
                {{ breaklines scene.text }}
            </div>
        </div>
        <img class="image" src="{{ staticBasePath }}images/scenes/{{ scene.imageName }}" alt="">
    {{else}}
        <div class="text-wrapper text-wrapper_without-image">
            <div class="text-wrapper__text text-wrapper__text_{{ scene.textPosition }}">
                {{ breaklines scene.text }}
            </div>
        </div>
    {{/if}}

    {{#if scene.achievements.length}}
        <div class="achievements_list">
        {{#each scene.achievements}}
            <div class="achievement">
                <img class="achievement__image" src="{{ ../staticBasePath }}images/achievements/{{imageName}}" alt="">
                <div class="achievement__text">Достижение получено</div>
                <div class="achievement__name">{{text}}</div>
            </div>
        {{/each}}
        </div>
    {{/if}}
    {{#if scene.actions.length}}
        <div class="action-list">
            {{#each scene.actions}}
                <a class="action-list__action" href="/quests/{{ adventureUrl }}/{{ nextSceneId }}">
                    {{ text }}
                </a>
            {{/each}}
        </div>
    {{else}}
        <div class="action-list">
            <a class="action-list__action" href="/quests/{{ scene.adventureUrl }}/1">Начать заново</a>
        </div>
    {{/if}}
</section>
</body>
</html>
