{{#if adventures.length}}
    <section>
    {{#each adventures}}
        <article class="adventure">
            <a href="/quests/{{ urlText }}/1">
                <img class="adventure__image" src="{{ ../staticBasePath }}images/adventures/{{imageName}}" alt="">
            </a>
            <div class="adventure__description-column">
                <a href="/quests/{{ urlText }}/1">
                    <h2 class="adventure__title">{{ name }}</h2>
                </a>
                {{#if description}}
                    <div class="adventure__description">{{ description }}</div>
                {{/if}}
                <div class="adventure__hash-tag-container">
                    {{#each hashTags}}
                        <a href="/hashtags/{{ textEn }}" class="adventure__hash-tag">#{{ textRu }}</a>
                    {{/each}}
                </div>
            </div>
        </article>
    {{/each}}
    </section>
{{/if}}
